@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply bg-gray-50 text-grayDarkest antialiased dark:bg-grayDarkest dark:text-white;
  }
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  button:disabled {
    @apply cursor-not-allowed;
  }
  :root {
    --color-1: hsl(0, 100%, 63%);
    --color-2: hsl(270, 100%, 63%);
    --color-3: hsl(210, 100%, 63%);
    --color-4: hsl(195, 100%, 63%);
    --color-5: hsl(90, 100%, 63%);
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: hsl(240, 5.9% 10%);
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer components {
  .svg-animate {
    stroke-dashoffset: 100;
    stroke-dasharray: 100;
    animation: dash 3s linear forwards;
  }

  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
}
@layer utilities {
  .flexCenter {
    @apply flex items-center justify-center;
  }
  .bgDarkMode {
    @apply bg-white dark:bg-grayDarker;
  }
  .borderDarkMode {
    @apply border-gray-200 dark:border-opacity-10;
  }
  .focus-primary:focus {
    @apply focus:ring-4 focus:ring-primary focus:ring-opacity-10;
  }
  .skeleton {
    @apply animate-pulse bg-gray-200 dark:bg-grayDarker;
  }
}
@media screen and (max-width: 1023.98px) {
  .course-slider {
    justify-content: flex-start;
    grid-auto-columns: 300px;
    grid-auto-flow: column;
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    scroll-padding: 1rem;
    grid-template-columns: unset;
  }
  .course-slider::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  .course-slider > * {
    scroll-snap-align: start;
  }
}
.table-responsive {
  @media screen and (max-width: 1023.98px) {
    th,
    td {
      &:not(:first-child) {
        padding-left: 100px;
      }
    }
  }
}
.entry-content {
  font-size: 16px;
  line-height: 2;
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  ol,
  figure {
    @apply mb-5;
  }
  ol {
    list-style: decimal;
  }
  ul {
    list-style: disc;
  }
  ol,
  ul {
    @apply pl-10;
  }
  a {
    @apply font-medium text-primary underline;
  }
}
.button-primary {
  position: relative;
  overflow: hidden;
  z-index: 2;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    height: 100%;
    width: 0;
    background-color: rgba(white, 0.1);
    transition: all 0.25s linear;
    z-index: -1;
  }
  &:hover:before {
    left: 0;
    width: 100%;
  }
}

.button-gradient {
  background: linear-gradient(
    90deg,
    rgba(243, 202, 77, 0.2),
    rgba(255, 151, 154, 0.2) 45.3125%,
    rgba(221, 165, 227, 0.2) 82.3125%,
    rgba(203, 171, 255, 0.2)
  );
  position: relative;
  padding: 0.25rem;
  font-weight: 700;
  height: 48px;
}
.button-inside {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: inherit;
  background: linear-gradient(90deg, #f3ca4d, #ff979a 45.3125%, #cbabff);
  height: 2.5rem;
  padding: 1px;
}
.button-main {
  height: 38px;
  flex: 1 0 0px;
}

html body .swal2-container {
  .swal2-popup {
    @apply w-full;
    max-width: 450px;
  }
  .swal2-title {
    @apply text-xl font-bold;
  }
  .swal2-actions {
    .swal2-confirm {
      @apply bg-primary;
    }
    .swal2-cancel {
      @apply bg-transparent text-grayDarkest hover:bg-transparent hover:bg-none;
    }
    .swal2-confirm {
      @apply w-[150px];
    }
  }
}
.animate-bar {
  animation: animate-width 5s linear 1;
}
@keyframes animate-width {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
@keyframes pulse_custom {
  0%,
  100% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
}
.animate-pulse_custom {
  animation: pulse_custom 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
.animate-rainbow {
  animation: rainbow-animation var(--speed, 2s) infinite linear;
}
@keyframes rainbow-animation {
  0% {
    background-position: 0% 50%; // Di chuyển theo chiều ngang, giữ vị trí dọc ở giữa
  }
  100% {
    background-position: 200% 50%;
  }
}
